<!DOCTYPE html>
<html lang="en">
    <head>
        <title>asdsdg</title>
    </head>
    <body>
        <h1>carplatezzzz:</h1>

        <% for (let i = 0; i < list.length; i++) {%>
            <p><%=i+1%>. <%=list[i].number%> <%=list[i].firma%> <%=list[i].photo%></p>
        <%} %>
    </body>

</html>