<!DOCTYPE html>

<html>
    <head>
        <title>Homepage</title>
    </head>
    <body>
        <h1>Chuj</h1>
        <h3>Kurwa nie kuźwa</h3>
        <% if (author == "id") {%>
            <p>pososi</p>
        <% } %>

        <h4>Author: <%= author %></h4>
    </body>

</html>