<%- include('partials/header') %>
    <main class="container-md">
        <section>
            <h2>Opis Projektu</h2>
            <p>
                Strona internetowa automatycznie pobierająca dane z różnych stron z ofertami sprzedaży pojazdów
                i wyświetlająca te dane w zrozumiałej postaci.
                Naszym celem jest ułatwienie użytkownikom dostępu do informacji o dostępnych pojazdach w
                przystępnej formie.
            </p>
        </section>

        <section>
            <h2>Cel Projektu</h2>
            <p>
                Projekt ma na celu zbieranie i wyświtlanie ofert sprzedaży pojazdów w jednym miejscu,
                aby użytkownicy mogli łatwo je porównywać.
            </p>
            <p>
                Strona jest częścią pracy inżynierskiej, dlatego nie obiecujemy niemożliwego.
                Skupiamy się na podstawowych funkcjonalnościach, które są wykonalne w ramach tego projektu.
            </p>
        </section>

        <section>
            <h2>Funkcjonalności</h2>
            <ul>
                <li>Pobieranie danych z wybranych stron internetowych.</li>
                <li>Wyświetlanie zebranych danych w czytelny sposób.</li>
                <li>Możliwość filtrowania ofert według różnych kryteriów.</li>
                <li>Wyszukiwanie pojazdów według numeru rejestracyjnego.</li>
            </ul>
        </section>

        <section>
            <h2>Podziękowania</h2>
            <p>
                Dziękujemy za odwiedzenie naszej strony! Mamy nadzieję, że nasz projekt będzie
                przydatny dla wszystkich poszukujących pojazdów.
            </p>
        </section>
    </main>
    <%- include('partials/footer') %>